/* Скидаємо відступи та padding для всього документа */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* щоб не було скролу */
    height: 100%;
}

/* контейнер для кнопок */
#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

/* стилі кнопок */
#controls button {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #0288d1;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 34px;
    background: #ffffff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.panel:hover {
    background: #0288d1;
    color: white;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    width: 570px;
    height: 100%;
    background: #ffffff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 5;
    font-family: Arial, sans-serif;
    display: none;

    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
}

.btn_close {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #0288d1;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.panel button {
    font-size: 22px;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    width: 30px;
    height: 34px;
    padding: 0;
    transition: color 0.3s;
}

.panel button:hover {
    background: #0277bd;
}

.meme_cat {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    margin-bottom: -150px;

}

.gif {
    opacity: 0; /* спочатку невидимий */
    transform: scale(0.8); /* трохи зменшений */
    transition: all 0.3s ease; /* плавна анімація */
    position: absolute; /* щоб не розтягував контейнер */
}

.zone:hover .gif {
    display: block;
}
