body {
    margin: 0;
    overflow: hidden; /* щоб не було скролу */
}

/* контейнер для кнопок */
#controls {
    position: fixed;     /* завжди поверх сцени */
    bottom: 20px;        /* відступ знизу */
    left: 50%;           /* центр по горизонталі */
    transform: translateX(-50%);
    display: flex;
    gap: 10px;           /* відстань між кнопками */
}

/* стилі кнопок */
#controls button {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #0288d1;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}


.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 34px;
    background: #ffffff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.panel:hover {
    background: #0288d1;
    color: white;
}


.info {
    position: absolute;
    top: 0;
    right: 0;
    width: 570px;
    height: 100%;
    background: #ffffff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 5;
    font-family: Arial, sans-serif;
    display: none;

    /* Красивий текст */
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;  /
}


.btn_close {
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #0288d1;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}


.panel button {
    font-size: 22px;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    width: 30px;
    height: 34px;
    padding: 0;
    transition: color 0.3s;
}



.panel button:hover {
    background: #0277bd;
}
